<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
	<connectionStrings>
  <add name="cnstr" connectionString="Server=caeff907-658a-4020-b4fb-a38b00633051.sqlserver.sequelizer.com;Database=dbcaeff907658a4020b4fba38b00633051;User ID=pooiuvikjgnzcjug;Password=PTstZtwEor3yEgbxw3LdXSFTk5zx6Ra6dB6ubRVqmdgF74ZpohGnSSz5mFh438HD;" />
  <add name="ConnectionString" connectionString="Server=caeff907-658a-4020-b4fb-a38b00633051.sqlserver.sequelizer.com;Database=dbcaeff907658a4020b4fba38b00633051;User ID=pooiuvikjgnzcjug;Password=PTstZtwEor3yEgbxw3LdXSFTk5zx6Ra6dB6ubRVqmdgF74ZpohGnSSz5mFh438HD;" />
 </connectionStrings>
</configuration>
